.theme-l1{
  background-color:#eee;
  color:#606266;
}
.theme-l2{
  background-color: #fff;
}
.theme-idx{
  color: #fff;
}
.theme-l3{
  background-color:#fff!important;
}
.theme-l4{
  background-color: #021b3b !important;
}
.logo-theme{
  color: #409eff;
  font-size: 25px;
  padding-right: 10px;
}
.is-fixed {
  background-color: #409eff!important;
}
.logo-title-mini{
  color: #409eff;
  font-size: 22px;
  padding-right: 10px;
}
.theme-color{
  color:#606266
}
.back-theme{
  color:#606266
}
.el-dialog__header {
  background-color: #021b3b;
}
.navbar-custom-menu .el-dropdown-link img {
  background-color: #045ca6;

}
.custom{
  background-color: #045ca6;
  color: #fff;
}
.main-sidebar .el-menu .el-menu-item.is-active {
  border-left: 2px solid #fff;
  box-sizing: border-box;
  background-color: #023057 !important;
}
.main-sidebar .el-menu .el-menu-item:hover {
  border-left: 2px solid #fff;
  box-sizing: border-box;
  background-color: #023057 !important;
}

.main-sidebar .el-submenu__title:hover {
  border-left: 2px solid #fff;
  box-sizing: border-box;
  background-color: #022745 !important;
}
.main-sidebar .el-submenu__title:focus{
  background-color: rgba(0,0,0,0) !important;
}
.main-sidebar .el-menu .el-menu-item{
  background-color: #021d3c !important;
}
.el-table tr td .cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



#aside-top i {
  margin-right: 10px;
  color: #909399;
}
.el-submenu__title i {
  color: #909399;
}
.router{
  background-color: #eee;
}
.main-footer{
  background-color: #eee;
}
.el-table thead tr th{
  background-color: rgba(240,240,240,.6);
}
.el-table{
  background-color: #fff!important;
}

.sec-header{
  background-color: #fff;
}
.router{
  background-color: #eee;
}
.main-footer{
  background-color: #eee;
}
.box{
  background-color: #fff;
}
.box-card{
  background-color: #fff;
}
.el-tree{
  background-color: #fff!important;
}
#chart{
  background-color: #404a59;
}
.tableheader{
  background-color: #6c92b9;
}
.el-radio-group .el-radio__label{
  color: #000;
}

.el-table--border, .el-table--group {
  border: 1px solid #b6b6b6 !important;
}
.sidebar .el-menu{
  background-color: #00142a;
}
.sidebar .el-menu .el-submenu__title span{
  color: rgba(255,255,255,0.65);
}
.sidebar .el-menu .el-submenu__title i{
  color: rgba(255,255,255,0.65);
}
.sidebar .el-menu .el-menu-item span{
  color: rgba(255,255,255,0.65);
}
.sidebar .el-menu .el-menu-item i{
  color: rgba(255,255,255,0.65);
}
.sidebar .el-menu .el-menu-item.is-active span{
  color: #409eff;
}
.sidebar .el-menu .el-menu-item.is-active i{
  color: #409eff;
}
