.theme-l1{
  background-color:#ec4545;
  color:#fff;
}
.theme-idx{
  color: #fff;
}
.theme-l3{
  background-color:#ee6060!important;
}
.theme-l4{
  background-color: #ec4545 !important;
}
.logo-theme{
  color: #fff;
  font-size: 25px;
  padding-right: 10px;
}
.is-fixed {
  background-color: #7d7777!important;
}
.el-table--border, .el-table--group {
  border: 1px solid #b6b6b6 !important;
}
.logo-title-mini{
  color: #fff;
  font-size: 22px;
  padding-right: 10px;
}
.theme-color{
  color:#f0f0f0
}
.back-theme{
  color:#606266
}
.el-dialog__header {
  background-color: #616e7b;
}
.theme-l2{
  background-color: #ee6060;
}

.navbar-custom-menu .el-dropdown-link img {
  background-color: #f28181;

}
.custom{
  background-color: #f28181;
  color: #fff;
}
.main-sidebar .el-menu .el-menu-item.is-active {
  border-left: 2px solid #ff3151;
  box-sizing: border-box;
  background-color: #4b3b36 !important;
}

.main-sidebar .el-menu .el-menu-item:hover {
  border-left: 2px solid #ff3151;
  box-sizing: border-box;
  background-color: #4b3b36 !important;
}

.main-sidebar .el-submenu__title:hover {
  border-left: 2px solid #ff3151;
  box-sizing: border-box;
  background-color: #4b3b36 !important;
}
.main-sidebar .el-menu .el-menu-item{
  background-color: #52453d !important;
}
.el-table .cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.el-table{
  background-color: #fff!important;
}

#aside-top i {
  margin-right: 10px;
  color: #909399;
}
.el-submenu__title i {
  color: #909399;
}
.router{
  background-color: #eee;
}
.main-footer{
  background-color: #eee;
}
.el-table thead tr th{
  background-color: rgba(240,240,240,.6);
}

.sec-header{
  background-color: #fff;
}
.router{
  background-color: #eee;
}
.main-footer{
  background-color: #eee;
}
.box{
  background-color: #fff;
}
.box-card{
  background-color: #fff;
}
.el-tree{
  background-color: #fff!important;
}
#chart{
  background-color: #404a59;
}
.tableheader{
  background-color: #6c92b9;
}
.el-radio-group .el-radio__label{
  color: #000;
}
.el-table tr td .cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .el-menu{
  background-color: #504540;
}
.sidebar .el-menu .el-submenu__title span{
  color: #aaa6a0;
}
.sidebar .el-menu .el-submenu__title i{
  color: #aaa6a0;
}
.sidebar .el-menu .el-menu-item span{
  color: #aaa6a0;
}
.sidebar .el-menu .el-menu-item i{
  color: #aaa6a0;
}
.sidebar .el-menu .el-menu-item.is-active span{
  color: #aaa6a0;
}
.sidebar .el-menu .el-menu-item.is-active i{
  color: #aaa6a0;
}
